* {
    scrollbar-width: auto;
    scrollbar-color: #001529 #ffffff;
}

*::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #001529;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.card {
    border: 1px solid #e6e6e6;
}

.main-card {
    width: 85%;
    max-height: 75vh;
    height: 100%;
    margin: 30px auto;
    overflow-y: hidden;
    position: relative;
}

.avatar {
    background-color: #001529;
    color: #fff;
    font-size: 28px !important;
    transform-origin: center;
    animation: rotating 1s ease-in-out infinite;
}

@keyframes rotating{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.list-item-card:hover {
    cursor: pointer;
}

.list-item-card:not(:first-of-type) {
    margin-top: 25px;
}

.list-item-card {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 95%;
}

.list-item-meta-p-title {
    font-size: 20px;
}

.list-item-meta-p-desc {
    font-size: 18px;
}

.teacher-button {
    margin-left: 10px !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 20px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.card-header {
    position: relative;
    display: flex;
    justify-content: center;
    border: none;
}

.form-card {
    margin: 0 auto;
    height: 60vh;
    overflow-y: auto;
}

.key-card, .value-card {
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
}

.key-card {
    font-size: 18px;
    font-weight: 500;
    width: 35% !important;
}

.value-card {
    font-size: 16px;
    width: 65% !important;
}

.card-row {
    border: none;
}

.right-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.right-button:nth-of-type(2) {
    right: 70px;
}

.update-teacher-form {
    margin: 0 auto;
}

.item-row-button {
    display: flex;
    justify-content: center;
}

label {
    font-size: 16px !important;
}
  
.ant-form-item-control-input,
.ant-form-item-control-input input,
.ant-form-item-control-input textarea {
    font-size: 16px;
}

.new-teacher-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-size: 16px;
    width: 200px;
    height: 40px;
}

.list-of-data {
    height: 65vh;
    overflow-y: auto;
}