.editable-cell {
  position: relative;
  padding-right: 0 !important;
}

.editable-cell-value-wrap {
  padding: 0px 0px;
  cursor: pointer;
}

/* .editable-row:hover .editable-cell-value-wrap { */
.ant-table-cell:hover .editable-cell-value-wrap {
  border-radius: 2px;
}

.student-button {
  outline: none;
  border: none;
  box-shadow: none;
}

.student-button:focus {
  outline: none;
}

.key-card-small {
  font-size: 14px !important;
  padding: 10px !important;
}

.value-card-small {
  font-size: 14px !important;
  padding: 10px !important;
}

.form-card-small {
  height: 40vh !important;
}

.graphics-main {
  margin-top: 10px;
}